<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="messageslist">
    <%= render partial: "message_list_items", locals: {messages: @messages} %>
  </tbody>
</table>

<br>

<div class="sendform">
  <input class="newmessage" type="text" placeholder="Type your message here..." />
  <input class="send" type="submit" value="Send" />
</div>
